.field {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    background-color: burlywood;
}
.row {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}